<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
      });
    </script>
  </head>

  <body>
    <%= render "admin/header" %>

    <h2> 구현중입니다. 기능은 동작하지 않습니다 </h2>

    <div id="filter" style="background: #b1cbbb; padding: 8px;">
      <div class="form-inline">
        분석일 : <input class="form-control" type="text" id="start_date" style="width:100px;">
        <input class="form-control" type="text" id="end_date" style="width:100px;">
        <button id="date_init" class="btn btn-primary">ALL</button>
      </div>

      <div class="form-inline">
        이름 :
        <input class="form-control" type="text" id="name" style="width:100px;">

        시리얼키 :
        <input class="form-control" type="text" id="custserial" style="width:100px;">

        성별 :
        <select class="form-control" id="select_sex">
          <option value="all">All</option>
          <option value="F">F</option>
          <option value="M">M</option>
        </select>

        나이 :
        <input class="form-control" type="text" id="start_age" style="width:100px; margin-top:10px;">
        <input class="form-control" type="text" id="end_age" style="width:100px; margin-top:10px;">
        <button id="age_init" class="btn btn-primary">ALL</button>

        연도 :
        <input class="form-control" type="text" id="start_birthyy" style="width:100px; margin-top:10px;">
        <input class="form-control" type="text" id="end_birthyy" style="width:100px; margin-top:10px;">
        <button id="birthyy_init" class="btn btn-primary">ALL</button>

        생월 :
        <input class="form-control" type="text" id="start_birthmm" style="width:100px; margin-top:10px;">
        <input class="form-control" type="text" id="end_birthmm" style="width:100px; margin-top:10px;">
        <button id="birthmm_init" class="btn btn-primary">ALL</button>

        채널 :
        <select class="form-control" id="select_channel">
          <option value="all">All</option>
          <option value="cnp">CNP</option>
          <option value="mart">마트</option>
          <option value="nc">NC</option>
          <option value="baut">보떼</option>
          <option value="cnprx">CNPRX</option>
        </select>
      </div>

      <div class="form-inline">
        모드 :
        <select class="form-control" id="select_mode">
          <option value="all">All</option>
          <option value="total">종합모드</option>
          <option value="quick">간편모드</option>
          <option value="makeup">메이크업모드</option>
        </select>

        메이크업 유무 :
        <select class="form-control" id="select_makeup">
          <option value="all">All</option>
          <option value="yes">유</option>
          <option value="no">무</option>
        </select>

        측정부위 :
        <select class="form-control" id="select_area">
          <option value="all">All</option>
          <option value="face">전면</option>
          <option value="left">좌</option>
          <option value="right">우</option>
        </select>

        <button class="btn btn-warning" id="submit">조회</button>
      </div>
    </div>


    <div>
      <div>
        <% @tabletinterviews.each do |tabletinterview| %>
          <%= render partial: "admin/tabletinterview/item", locals: { tabletinterview: tabletinterview } %>
        <% end %>
      </div>
    </div>

  </body>
</html>
