<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $ (function () {

      });

      function decode_utf8(s) {
        return decodeURI(s);
      }

    </script>
  </head>

  <body style="padding: 10px;">
    <div style="display:inline;">
      <h2 style="float:left; width:80%; margin-left:20px;">CNPRx 설문 문항(종합모드)</h2><br>
    </div><br><br><br>
    <div style="margin-left:20px;">
      <b>A. 사전 자가진단</b><br><br>
      <font>1. 본인의 피부는 [          ] 인 것 같아요.</font><br>
      <font>① 지성</font><br>
      <font>② 복합성 <small>[부위별 피지분비 정도, 건조 정도가 다른 피부]</small></font><br>
      <font>③ 건성</font><br>
      <font>④ 중성 <small>[적절한 피비 분비 및 건조하지 않은 정상 피부]</small></font><br>
      <font>⑤ 모르겠다</font><br><br>

      <font>2. 본인의 피부는 민감성(SENSITIVE)인 것 같아요.</font><br>
      <font>① 예</font><br>
      <font>② 아니오</font><br><br>

      <b>B. 일상 생활패턴</b><br><br>
      <font>1. 하루 평균 몇 시간의 수면을 취하고 있으신가요?</font><br>
      <font>① 8시간 이상</font><br>
      <font>② 5시간 이상 8시간 미만</font><br>
      <font>③ 5시간 미만</font><br>
      <font>④ 직업 또는 주변 상황으로 인해 일정하지 않습니다.</font><br><br>

      <font>2. 거주지역 또는 직장에서 간접흡연에 대한 노출 정도가 어떠한가요?</font><br>
      <font>① 전혀 노출되지 않는다.</font><br>
      <font>② 예전에 자주 노출되었으나 현재는 거의 없다.</font><br>
      <font>③ 현재 자주 노출되어 있다.</font><br>
      <font>④ 직업 또는 주변 상황으로 인해 일정하지 않습니다.</font><br><br>


      <font>3. 평소 음주 정도가 어떠한가요?</font><br>
      <font>① 거의 마시지 않는다.</font><br>
      <font>② 한 때 자주 마셨으나, 현재는 거의 마시지 않는다.</font><br>
      <font>③ 상황에 따라 거의 마시지 않거나 자주 마신다.<small>(일정하지 않습니다.)</small></font><br>
      <font>④ 현재 자주 마신다.</font><br><br>

      <font>4. 하루에 햇빛에 얼마나 노출되나요?</font><br>
      <font>① 거의 대부분 실내에서 생활합니다.</font><br>
      <font>② 하루 2시간 정도 강하지 않은 햇빛에 노출됩니다.</font><br>
      <font>③ 낮에 외부에서 활동이 많은 편입니다.</font><br>
      <font>④ 거의 하루종일 야외에서 생활합니다.</font><br><br>

      <font>5. 자외선 차단제를 얼마나 바르시나요?</font><br>
      <font>① 하루 2회 이상 자주 도포합니다.</font><br>
      <font>② 하루 1회 정도 매일 도포합니다.</font><br>
      <font>③ 휴가철이나 강한 햇빛을 쪼이는 경우에만 바릅니다.</font><br>
      <font>④ 거의 바르지 않습니다.</font><br><br>

      <font>6. 최근 고객님께서는 어느 정도의 스트레스를 받고 있으신가요?</font><br>
      <font>① 대체로 스트레스를 받지 않는 편이며 안정적이다.</font><br>
      <font>② 비교적 낮은 수준의 스트레스를 받고 있다.<br>약간의 불안이나 걱정은 있지만 크게 문제 있는 정도는 아니다.</font><br>
      <font>③ 약간 스트레스를 겪고 있고, 때로는 심할 경우도 있다.</font><br>
      <font>④ 대체로 높은 스트레스를 겪어 대처하기 어려운 적이 많다.</font><br>
      <font>⑤ 자주 불안하다.</font><br><br>

      <b>C. 최근 피부 고민</b><br><br>
      <font>1. 제일 큰 고민 <font color='#d40076'>1가지</font>를 체크해주세요</font><br>
      <font>① 대체로 건조하여 수분 공급을 위한 케어</font><br>
      <font>② 여드름, 뾰루지 등의 피지성 트러블 관리를 위한 케어</font><br>
      <font>③ 기미, 잡티, 색소침착이 많아 피부 톤 관리를 위한 케어</font><br>
      <font>④ 집중적으로 분포한 주름 관리를 위한 케어</font><br>
      <font>⑤ 전체적으로 피부가 처져 탄력 강화를 위한 케어</font><br><br>

      <b>D. 평소 피부 상태</b><br><br>
      <font>1. 얼굴이 붉게 돌출된 병변(트러블, 여드름 등)이<br>발생한 경험이 있었나요?</font><br>
      <font>① 전혀 없다.</font><br>
      <font>② 거의 없다.</font><br>
      <font>③ 최소한 1개월에 1회 정도 있다.</font><br>
      <font>④ 최소한 1주일에 1회 정도 있다.</font><br><br>

      <font>2. 장신구를 착용할 경우에 피부 발진이 자주 발생하나요?</font><br>
      <font>① 전혀 안 나타난다.</font><br>
      <font>② 거의 안 나타난다.</font><br>
      <font>③ 자주 나타난다.</font><br>
      <font>④ 항상 나타난다.</font><br>
      <font>⑤ 잘 모르겠다.</font><br><br>

      <font>3. 아토피 피부염, 습진 또는 접촉성 피부염<br>(알레르기성 피부발진 등)으로 진단된 과거력이 있나요?</font><br>
      <font>① 없다.</font><br>
      <font>② 친구, 지인이 나에게 이런 질환이 있는 것 같다고 한다.</font><br>
      <font>③ 있으나 심각하지 않다.</font><br>
      <font>④ 있다. 심각한 경우에 해당한다.</font><br>
      <font>⑤ 잘 모르겠다.</font><br><br>

      <font>4. 운동, 스트레스 같은 외부요인 또는 식사(음주 포함)로 인하여 피부가 붉어지거나 달아오르나요?</font><br>
      <font>① 전혀 그런 적이 없다.</font><br>
      <font>② 때때로 그렇다.</font><br>
      <font>③ 자주 그렇다.</font><br>
      <font>④ 항상 그렇다.</font><br><br>

      <font>5. 화장품, 자외선 차단제, 피부 관리용 제품을 사용한 후에<br>피부의 발적, 가려움증, 부종 등의 경험이 있나요?</font><br>
      <font>① 전혀 없다.</font><br>
      <font>② 때때로 그렇다.</font><br>
      <font>③ 자주 있다.</font><br>
      <font>④ 항상 있다.</font><br>
      <font>⑤ 이런 제품을 사용하지 않는다.</font><br><br>

      <font>6. 환절기에 따라 따끔거리는 등 피부 자극이 있다.</font><br>
      <font>① 전혀 없다.</font><br>
      <font>② 가끔 느낀다.</font><br>
      <font>③ 항상 느낀다.</font><br>
    </div><br>

    <div style="display:inline;">
      <h2 style="float:left; width:80%; margin-left:20px;">CNPRx 설문 문항(메이크업 모드)</h2><br>
    </div><br><br><br>
    <div style="margin-left:20px;">
      <b>A. 사전 자가진단</b><br><br>
      <font>1. 현재 베이스 메이크업 상태는 어떠한가요?</font><br>
      <font>① 결점이 살짝 비치는 내추럴 메이크업</font><br>
      <font>② 결점이 거의 보이지 않는 메이크업</font><br>

      <font>2. 본인의 피부는 [          ]인 것 같아요.</font><br>
      <font>① 지성</font><br>
      <font>② 복합성<small>[부위별 피지분비 정도, 건조 정도가 다른 피부]</small></font><br>
      <font>③ 건성</font><br>
      <font>④ 중성<small>[적절한 피비 분비 및 건조하지 않은 정상 피부]</small></font><br><br>

      <font>3. 본인의 피부는 민감성(SENSITIVE)인 것 같아요.</font><br>
      <font>① 예</font><br>
      <font>② 아니오</font><br><br>

      <b>B. 일상 생활패턴</b><br><br>
      <font>1. 하루에 햇빛에 얼마나 노출되나요?</font><br>
      <font>① 거의 대부분 실내에서 생활합니다.</font><br>
      <font>② 하루 2시간 정도 강하지 않은 햇빛에 노출됩니다.</font><br>
      <font>③ 낮에 외부에서 활동이 많은 편입니다.</font><br>
      <font>④ 거의 하루종일 야외에서 생활합니다.</font><br><br>

      <b>C. 최근 피부 고민</b><br><br>
      <font>1. 제일 큰 고민 <font color='#d40076'>1가지</font>를 체크해주세요</font><br>
      <font>① 대체로 건조하여 수분 공급을 위한 케어</font><br>
      <font>② 여드름, 뾰루지 등의 피지성 트러블 관리를 위한 케어</font><br>
      <font>③ 기미, 잡티, 색소침착이 많아 피부 톤 관리를 위한 케어</font><br>
      <font>④ 집중적으로 분포한 주름 관리를 위한 케어</font><br>
      <font>⑤ 전체적으로 피부가 처져 탄력 강화를 위한 케어</font><br><br>

      <b>D. 평소 피부 상태</b><br><br>
      <font>1. 얼굴이 붉게 돌출된 병변(트러블, 여드름 등)이<br>발생한 경험이 있었나요?</font><br>
      <font>① 전혀 없다.</font><br>
      <font>② 거의 없다.</font><br>
      <font>③ 최소한 1개월에 1회 정도 있다.</font><br>
      <font>④ 최소한 1주일에 1회 정도 있다.</font><br><br>

      <font>2. 장신구를 착용할 경우에 피부 발진이 자주 발생하나요?</font><br>
      <font>① 전혀 안 나타난다.</font><br>
      <font>② 거의 안 나타난다.</font><br>
      <font>③ 자주 나타난다.</font><br>
      <font>④ 항상 나타난다.</font><br>
      <font>⑤ 잘 모르겠다.</font><br><br>

      <font>3. 아토피 피부염, 습진 또는 접촉성 피부염<br>(알레르기성 피부발진 등)으로 진단된 과거력이 있나요?</font><br>
      <font>① 없다.</font><br>
      <font>② 친구, 지인이 나에게 이런 질환이 있는 것 같다고 한다.</font><br>
      <font>③ 있으나 심각하지 않다.</font><br>
      <font>④ 있다. 심각한 경우에 해당한다.</font><br>
      <font>⑤ 잘 모르겠다.</font><br><br>

      <font>4. 운동, 스트레스 같은 외부요인 또는 식사(음주 포함)로 인하여 피부가 붉어지거나 달아오르나요?</font><br>
      <font>① 전혀 그런 적이 없다.</font><br>
      <font>② 때때로 그렇다.</font><br>
      <font>③ 자주 그렇다.</font><br>
      <font>④ 항상 그렇다.</font><br><br>

      <font>5. 화장품, 자외선 차단제, 피부 관리용 제품을 사용한 후에<br>피부의 발적, 가려움증, 부종 등의 경험이 있나요?</font><br>
      <font>① 전혀 없다.</font><br>
      <font>② 때때로 그렇다.</font><br>
      <font>③ 자주 있다.</font><br>
      <font>④ 항상 있다.</font><br>
      <font>⑤ 이런 제품을 사용하지 않는다.</font><br><br>

      <font>6. 환절기에 따라 따끔거리는 등 피부 자극이 있다.</font><br>
      <font>① 전혀 없다.</font><br>
      <font>② 가끔 느낀다.</font><br>
      <font>③ 항상 느낀다.</font><br>
    </div><br>
  </body>
</html>
