<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $ (function () {

      });

      function decode_utf8(s) {
        return decodeURI(s);
      }

    </script>
  </head>

  <body style="padding: 10px;">
    <div style="display:inline;">
      <h2 style="float:left; width:80%; margin-left:20px;">BEAU 설문 문항</h2><br>
    </div><br><br><br>
    <div style="margin-left:20px;">
      <font>1. 현재 고객님 피부상태중 가장 고민인 항목은?</font><br>
      <font>① 건조</font><br>
      <font>② 피지</font><br>
      <font>③ 모공</font><br>
      <font>④ 탄력</font><br>
      <font>⑤ 주름</font><br>
      <font>⑥ 색소침착</font><br><br>

      <font>2. 고객님의 피부가 민감하다고 느끼시나요?</font><br>
      <font>① 예</font><br>
      <font>② 아니오</font><br><br>

      <font>3. 현재 사용중인 스킨케어 제품을 모두 고르세요</font><br>
      <font>① 클렌징</font><br>
      <font>② 토너/퍼스트 에센스</font><br>
      <font>③ 에멀젼</font><br>
      <font>④ 세럼</font><br>
      <font>⑤ 크림</font><br>
      <font>⑥ 아이크림</font><br>
      <font>⑦ 차단제</font><br>
      <font>⑧ 모두사용</font><br><br>

      <font>4. 하루에 햇빛에 얼마나 노출되나요?</font><br>
      <font>① 거의 대부분 실내에서 생활합니다.</font><br>
      <font>② 하루 2시간 정도 강하지 않은 햇빛에 노출됩니다.</font><br>
      <font>③ 낮에 외부에서 활동이 많은 편입니다.</font><br>
      <font>④ 항상 햇빛에 노출되어 있습니다.</font><br><br>

      <font>5. 자외선 차단제를 얼마나 바르시나요?</font><br>
      <font>① 거의 바르지 않습니다.</font><br>
      <font>② 특별한 상황(예> 휴가철이나 강한 햇빛을 쪼이는 경우)에만 바릅니다.</font><br>
      <font>③ 하루 1회 정도 매일 도포합니다.</font><br>
      <font>④ 하루 2회 이상 자주 도포합니다.</font><br><br>

      <font>6. 평소 메이크업 상태를 고르세요</font><br>
      <font>① 전혀 하지 않음</font><br>
      <font>② 자외선차단제 혹은 베이스 메이크업(BB,파운데이션 등)</font><br>
      <font>③ 베이스메이크업+포인트 메이크업(립/아이)</font><br>
      <font>④ 풀메이크업(베이스+포인트+기타색조)</font><br><br>

      <font>7. 평소 클렌징 습관을 고르세요</font><br>
      <font>① 가끔 건너뛰기</font><br>
      <font>② 적당히 씻어내는 클렌징(5분 이내)</font><br>
      <font>③ 꼼꼼히 씻어내는 클렌징(5분 내외)</font><br>
      <font>④ 매우 꼼꼼히 씻어내는 클렌징(10분 내외)</font><br><br>

      <font>8. 세안후 스킨케어를 하지 않았을 때 고객님의 얼굴 피부는 어떠한가요?</font><br>
      <font>① 매우 건조한 느낌이다.</font><br>
      <font>② 약간 건조한 느낌이다.</font><br>
      <font>③ 약간 번들거리고 매끄러운 느낌이 든다.</font><br>
      <font>④ 유분이 흐르는 느낌이다.</font><br><br>

      <font>9. 얼굴의 T-존(이마,미간,코)에 피지는 얼마나 많이 있나요?</font><br>
      <font>① 전혀없다</font><br>
      <font>② 거의없다</font><br>
      <font>③ 약간있다</font><br>
      <font>④ 많이있다</font><br><br>

      <font>10. 메이크업을 하고, 반나절 정도 경과 시 얼굴 피부는 어떠한가요?</font><br>
      <font>① 대체로 들뜨는 현상이 자주 발생한다.</font><br>
      <font>② 대체로 약간 들뜨는 느낌이 든다.</font><br>
      <font>③ 거의 변화 없다.</font><br>
      <font>④ 번들거린다.</font><br>
    </div><br>
  </body>
</html>
