<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="naver-site-verification" content="a24db3a79c2b7a20d8f47236c807272393913b13"/>
        <title>PLUS Messenger</title>

        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/common.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <!-- <link href="/css/stylish-portfolio.css" rel="stylesheet"> -->

        <script>
                $("#submit").click(function (event) {
                    event.preventDefault();
                    var formData = new FormData($(this)[0]);
                    formData.append("login_id", $("#login_id").val());
                    formData.append("password", $("#password").val());

                    $.ajax({
                        url: "/login",
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: true,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            $.cookie("token", response.token);
                            $.cookie("id", response.id);
                            $.cookie("email", response.email);
                            $.cookie("login_id", response.login_id);
                            $.cookie("name", response.name);
                            $.cookie("phone", response.phone);
                            $.cookie("time_zone", response.time_zone);
                            $.cookie("profile_image", response.profile_image);
                            $.cookie("email_verified", response.email_verified);
                            $.cookie("task_type", "i_am_owner");
                            $.cookie("task_status", -1);
                            $.cookie("task_order", "recent");
                            $.cookie("is_info_private", response.is_info_private);

                            location.href = "/main";
                        },
                        error: function (response) {
                            if (response.responseText.indexOf("탈퇴") >= 0) {
                                alert(alreadyLeft());
                            } else if (response.responseText.indexOf("사용중지") >= 0) {
                                alert(isStopMessage());
                            } else {
                                alert(enterAgain());
                            }
                            $.cookie("token", null);
                        }
                    });
                });
            });
        </script>

    </head>
    <body style="background: #404040">

        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>

        <!-- Header -->
        <header id="top">
            <div class="text-vertical-center">
                <center><h1 style='color: #fcbd0f;'>CNP Diagnosis</h1>
                <h4 style='color: white;'>Admin Tool</h4></center>
                <div class="container">
                    <div class="row">
                        <center>
                            <div class="col-md-5" style="float: none; margin:0px auto; ">
                                <br>
                                <br>
                                <!-- -->

                                <form id="login-view">
                                    <div class="form-group">
                                        <!-- <label for="login_id" style='color: #fff;'>ID</label> -->
                                        <input type="text" name="login_id" class="form-control" id="login_id" placeholder="ID">
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="password" style='color: #fff;'>Password</label> -->
                                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                    </div>

                                    <button id="submit" class="col-md-12 btn btn-custom-1" tkey="login_id">로그인</button>
                                </form>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </header>

        <script type="text/javascript">

        </script>
    </body>
</html>
