<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script>
      $(function () {
        <% if !@ch_cd.nil? && @ch_cd != "" && (@ch_cd == "CNP" || @ch_cd == "CLAB") %>
          $('select[id="select_channel"]').val('<%= @ch_cd %>');
        <% end %>

        <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") %>
          <% if !@shop_cd.nil? && @shop_cd != "" && %>
            document.getElementById("select_shop").value = '<%= @shop_cd %>'
          <% end %>
        <% end %>

        $("#datepicker").datepicker({
                    dateFormat: 'yy-mm-dd',
                    dayNamesMin: [
                        '일',
                        '월',
                        '화',
                        '수',
                        '목',
                        '금',
                        '토'
                    ],
                    monthNamesShort: [
                        '1월',
                        '2월',
                        '3월',
                        '4월',
                        '5월',
                        '6월',
                        '7월',
                        '8월',
                        '9월',
                        '10월',
                        '11월',
                        '12월'
                    ],
                    currentText: '오늘 날짜',
                    changeMonth: true
                });
          $("#datepicker").datepicker('setDate', '<%= @date %>');
          $('#datepicker').change(function () {
            <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") %>
            <% else %>
              location.href = "/admin/feedback?date=" + $('#datepicker').val()
            <% end %>
          });

          $('#submit').click(function(){
            var ch_cd = document.getElementById("select_channel").options[document.getElementById("select_channel").selectedIndex].value;

            url = "/admin/feedback?date=" + $('#datepicker').val();
            url += "&select_channel=" +ch_cd
            url += "&select_shop=" +$("#select_shop").val();
            location.href = url;
          });
      });

      function show_after_interview(after_interview_id, tablet_interview_id, custserial){
        window.open("/admin/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "scrollbars=1,resizable=1,height=800,width=700");
      }

      function show_after_interview_1(after_interview_id, tablet_interview_id, custserial){
        window.open("/admin/after_interview_1?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "/after_interview?custserial=" + custserial + "&after_interview_id=" + after_interview_id + "&tablet_interview_id=" + tablet_interview_id, "scrollbars=1,resizable=1,height=800,width=700");
      }

    </script>
    <style>
    .fixed-table-body {
      max-height: 170px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }

    .width-150 {
      width: 150px;
    }

    .th-inner {
      width: 160px;
      margin: 0 auto;
      text-align: center !important;
    }

    td {
      margin: 0 auto;
      text-align: center !important;
    }

    width200 {
      width: 200px;
      margin: 0 auto;
      text-align: center !important;
    }
    </style>
  </head>

  <body>
    <%= render "admin/header" %>
    <h1>CNPR</h1>
  </body>
</html>
