<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
    $(function () {
      $(document).keyup(function (e) {
          if ($("#search").is(":focus") && (e.keyCode == 13)) {
              console.log(encodeURI($("#search").val()));
              location.href = "/admin/fcpos_list?search=" + encodeURI(encodeURI($("#search").val()));
          }
      });
    });

    function show_all(){
      location.href = "/admin/fcpos_list";
    }

    </script>
  </head>

  <body>
    <%= render "admin/header" %>

    <div style="background: #b1cbbb; padding: 8px;">
      <input type="text" name="search" id="search" placeholder="이름으로 검색" style="width: 200px;"> <button class="btn btn-warning" id="show_all" onclick="show_all()">전체보기</button>
    </div>
    <div>

    <div>
      <% @fcpos.each do |data| %>
        <%= render partial: "admin/pos/item", locals: { data: data } %>
      <% end %>
      <div>
        <%= paginate @fcpos %>
      </div>
    </div>
  </body>
</html>
