<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {

        $(".nav a").on("click", function(){
           $(".nav").find(".active").removeClass("active");
           $(this).parent().addClass("active");
        });

        $("#custinfos").click(function(){
          location.href = "/admin/user_list"
        });

        $("#feedback_list").click(function(){
          location.href = "/admin/feedback_list"
        });

        $("#input_feedback").click(function(){
          location.href = "/admin/feedback"
        });

        $("#tabletinterview").click(function(){
          location.href = "/admin/tabletinterview"
        });

        $("#fcavg_list").click(function(){
          location.href = "/admin/fcavg_list"
        });

        $("#fcdata_list").click(function(){
          location.href = "/admin/data_list"
        });

        $("#fcpos_list").click(function(){
          location.href = "/admin/fcpos_list"
        });

        $("#fcschedule_list").click(function(){
          location.href = "/admin/fcschedule_list"
        });

        // $("#image_list").click(function(){
        //   location.href = "/admin/image_list"
        // });

        $("#logout").click(function(){
          var formData = new FormData($(this)[0]);

          $.ajax({
              url: "/admin/admin_logout",
              type: 'DELETE',
              data: formData,
              async: false,
              cache: false,
              contentType: false,
              processData: false,
              success: function (returndata) {
                window.location.href = "/admin/admin_login"
              },
              error: function (returndata) {}
          });
        });
      });

    </script>
  </head>

  <body style="padding:10px;">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CNP Report</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" id="custinfos">고객정보</a></li>
          <li id="input_feedback"><a href="#">피드백 입력</a></li>
          <li id="feedback_list"><a href="#">피드백 리스트</a></li>
          <li id="tabletinterview"><a href="#">태블릿 인터뷰</a></li>
          <li id="fcavg_list"><a href="#">연령별 성별 평균</a></li>
          <li id="fcdata_list"><a href="#">야누스 측정 데이터</a></li>
          <li id="fcpos_list"><a href="#">야누스 분석 영역 정보</a></li>
          <li id="fcschedule_list"><a href="#">예약 스케줄</a></li>
          <!-- <li id="image_list"><a href="#">고객 이미지</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
           <li id="logout"><a href="#"><span class="glyphicon glyphicon-log-in"></span>로그아웃</a></li>
        </ul>
      </div>
    </nav>

  </body>
</html>
