<html>
  <head>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
      $(function () {

        $(".nav a").on("click", function(){
           $(".nav").find(".active").removeClass("active");
           $(this).parent().addClass("active");
        });

        $("#custinfos").click(function(){
          location.href = "/admin/user_list"
        });

        $("#migen_agree").click(function(){
          location.href = "/admin/migen_agree_list"
        });


        $("#feedback_list_cnp").click(function(){
          location.href = "/admin/feedback_list_cnp"
        });

        $("#feedback_list_cnpr").click(function(){
          console.log("feedback_list_cnpr!!");
          location.href = "/admin/feedback_list_cnpr"
        });

        $("#input_feedback_cnp").click(function(){
          location.href = "/admin/input_cnp"
        });

        $("#input_feedback_cnpr").click(function(){
          location.href = "/admin/input_cnpr"
        });

        $("#cnp_interview").click(function(){
          location.href = "/admin/cnp_interview"
        });

        $("#cnpr_interview").click(function(){
          location.href = "/admin/cnpr_interview"
        });

        $("#beau_interview").click(function(){
          location.href = "/admin/beau_interview"
        });

        $("#gene_interview_list").click(function(){
          location.href = "/admin/geneinterview"
        });

        $("#fcavg_list").click(function(){
          location.href = "/admin/fcavg_list"
        });

        $("#fcdata_list_cnp").click(function(){
          location.href = "/admin/data_list_cnp"
        });

        $("#fcdata_list_cnpr").click(function(){
          location.href = "/admin/data_list_cnpr"
        });

        $("#fcdata_list_beau").click(function(){
          location.href = "/admin/data_list_beau"
        });

        $("#fcdata_list_cnp").click(function(){
          location.href = "/admin/data_list_cnp"
        });

        $("#fcdata_and_gene_list_cnp").click(function(){
          location.href = "/admin/data_and_gene_list_cnp"
        });

        $("#fcdata_and_gene_list_cnpr").click(function(){
          location.href = "/admin/data_and_gene_list_cnpr"
        });

        $("#gene_and_genstory_list_cnp").click(function(){
          location.href = "/admin/data_and_gene_list_cnp"
        });

        $("#gene_and_genstory_list_beau").click(function(){
          location.href = "/admin/gene_and_genstory_list_beau"
        });

        $("#fcdata_and_gene_list_beau").click(function(){
          location.href = "/admin/data_and_gene_list_beau"
        });

        $("#fcpos_list").click(function(){
          location.href = "/admin/fcpos_list"
        });

        $("#fcschedule_list").click(function(){
          location.href = "/admin/fcschedule_list"
        });

        $("#image_list").click(function(){
          location.href = "/admin/image_list"
        });

        $("#minimum_image_list").click(function(){
          location.href = "/admin/minimum_image_list"
        });

        $("#manager_list").click(function(){
          location.href = "/admin/manager_list"
        });

        $("#allow_list").click(function(){
          location.href = "/admin/allow_list"
        });

        $("#image_test").click(function(){
          location.href = "/admin/upload_test"
        });

        $("#fcmodecnt").click(function(){
          location.href = "/admin/fcmodecnt"
        });

        $("#privacy_access_history").click(function(){
          location.href = "/admin/privacy_access_history"
        });

        $("#edit_admin_user").click(function(){
          if ($.cookie("admin_user_email") != "" || $.cookie("admin_user_email") != "undefined" || $.cookie("admin_user_email") != undefined || $.cookie("admin_user_email") != null){
            var email = $.cookie("admin_user_email")
            window.open("/admin/manager/edit_manager?email=" + email, "/users/manager/edit_manager?email=" + email, "scrollbars=1,resizable=1,height=400,width=600");
          }
        });

        $("#logout").click(function(){
          var formData = new FormData($(this)[0]);

          $.ajax({
              url: "/admin/admin_logout",
              type: 'DELETE',
              data: formData,
              async: false,
              cache: false,
              contentType: false,
              processData: false,
              success: function (returndata) {
                window.location.href = "/admin/admin_login"
              },
              error: function (returndata) {}
          });
        });
      });

    </script>
    <style>
      /* Dropdown Button */
      .dropbtn {
          border: none;
          cursor: pointer;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
          position: relative;
          display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 120px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
          display: block;
      }

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
          background-color: #3e8e41;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="#" class="top-list" id="custinfos">고객정보</a></li>

          <li class="dropdown dropbtn"><a class="top-list" id="point_input_feedback" href="#">피드백 입력</a>
            <div class="dropdown-content">
              <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && (session[:admin_user]['role'] == "admin" || session[:admin_user]['role'] == "sub_admin")) %>
                <a id="input_feedback_cnp" href="#">CNP</a>
                <a id="input_feedback_cnpr" href="#">CNP RX</a>
              <% elsif session[:admin_user]['ch_cd'] == "CNP" %>
                <a id="input_feedback_cnp" href="#">CNP</a>
              <% elsif session[:admin_user]['ch_cd'] == "CNPR" %>
                <a id="input_feedback_cnpr" href="#">CNPR</a>
              <% end %>
            </div>
          </li>
          <li class="dropdown dropbtn"><a class="top-list" id="point_feedback_list" href="#">피드백 리스트</a>
            <div class="dropdown-content">
              <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && (session[:admin_user]['role'] == "admin" || session[:admin_user]['role'] == "sub_admin")) %>
                <a id="feedback_list_cnp" href="#">CNP</a>
                <a id="feedback_list_cnpr" href="#">CNP RX</a>
              <% elsif session[:admin_user]['ch_cd'] == "CNP" %>
                <a id="feedback_list_cnp" href="#">CNP</a>
              <% elsif session[:admin_user]['ch_cd'] == "CNPR" %>
                <a id="feedback_list_cnpr" href="#">CNPR</a>
              <% end %>
            </div>
          </li>
          <li class="dropdown dropbtn"><a class="top-list" id="point_interview_list" href="#">고객 인터뷰</a>
            <div class="dropdown-content">
              <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && (session[:admin_user]['role'] == "admin" || session[:admin_user]['role'] == "sub_admin")) %>
                <a id="cnp_interview" href="#">CNP</a>
                <a id="beau_interview" href="#">보떼</a>
                <a id="cnpr_interview" href="#">CNP RX</a>
              <% elsif session[:admin_user]['ch_cd'] == "CNP" %>
                <a id="cnp_interview" href="#">CNP</a>
              <% elsif session[:admin_user]['ch_cd'] == "BEAU" %>
                <a id="beau_interview" href="#">보떼</a>
              <% elsif session[:admin_user]['ch_cd'] == "CNPR" %>
                <a id="cnpr_interview" href="#">CNP RX</a>
              <% end %>
            </div>
          </li>
          
          <li><a href="#" class="top-list" id="migen_agree">미젠스토리 서비스 동의 정보</a></li>

          <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && (session[:admin_user]['role'] == "admin" || session[:admin_user]['role'] == "sub_admin")) %>
          <li class="dropdown dropbtn"><a class="top-list" id="gene_interview_list" href="#">유전자설문</a>
          </li>
          <% end %>
          <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && (session[:admin_user]['role'] == "admin" || session[:admin_user]['role'] == "sub_admin")) %>
            <li id="fcavg_list"><a class="top-list" id="point_avg_list" href="#">연령별 성별 평균</a></li>
            <li class="dropdown dropbtn"><a class="top-list" id="point_data_list" href="#">야누스 측정 데이터</a>
              <div class="dropdown-content">
                <a id="fcdata_list_cnp" href="#">CNP</a>
                <a id="fcdata_list_beau" href="#">보떼</a>
                <a id="fcdata_list_cnpr" href="#">CNP RX</a>
              </div>
            </li>

            <li class="dropdown dropbtn"><a class="top-list" id="point_gene_and_genestory_list" href="#">유전자설문&젠스토리앱 설문</a>
              <div class="dropdown-content">
                <a id="gene_and_genstory_list_beau" href="#">보떼</a>
              </div>
            </li>

            <li class="dropdown dropbtn"><a class="top-list" id="point_data_and_gene_list" href="#">측정데이터&유전자설문</a>
              <div class="dropdown-content">
                <a id="fcdata_and_gene_list_cnp" href="#">CNP</a>
                <a id="fcdata_and_gene_list_beau" href="#">보떼</a>
              </div>
            </li>

            <li id="fcpos_list"><a class="top-list" id="point_pos_list" href="#">야누스 분석 영역 정보</a></li>
          <% end %>

          <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "sub_admin") %>
            <li id="image_list"><a class="top-list" id="point_image_list" href="#">고객 이미지</a></li>
            <li id="minimum_image_list"><a class="top-list" id="point_minimum_image_list" href="#">고객 이미지(연구소)</a></li>
          <% end %>

          <% if (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "sub_admin") %>

          <% else %>
            <li id="fcschedule_list"><a class="top-list" id="point_schedule_list" href="#">예약 스케줄</a></li>
          <% end %>

          <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") %>
            <li id="manager_list"><a class="top-list" id="point_manager_list" href="#">매장&연구소 아이디 관리</a></li>
          <% end %>
          <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") %>
            <li id="allow_list"><a class="top-list" id="point_allow_list" href="#">허용 IP</a></li>
          <% end %>
          <% if session[:admin_user] == "user" %>
            <li><a href="#" class="top-list" id="fcmodecnt">fcmodcnt</a></li>
          <% end %>
          <% if session[:admin_user] == "user" || (!session[:admin_user]['role'].nil? && session[:admin_user]['role'] == "admin") %>
            <li id="privacy_access_history"><a class="top-list" id="point_privacy_access_history" href="#">개인정보 취급 기록</a></li>
          <% end %>

          <li id="logout"><a href="#" class="top-list"><font color="#5bc0de">로그아웃</font></a></li>
          <li id="edit_admin_user"><a href="#" class="top-list"><font color="#5bc0de">회원정보 수정</font></a></li>
        </ul>
      </div>
    </nav>

  </body>
</html>
