<html>
    <head>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>

        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
        <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
    </head>

    <body style="padding:10px;">
        <h4>Access restrictions</h4>
    </html>
