<html>
    <head>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>

        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
        <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

        <script>
            var real_ip;
            $(function () {
                $.getJSON("http://jsonip.com/?callback=?", function (data) {
                  console.log(data.ip);
                  real_ip = data.ip
                });

                $("#login").click(function () {
                    var formData = new FormData($(this)[0]);
                    formData.append("email", $('#ID').val());
                    formData.append("password", $('#Password').val());
                    formData.append("real_ip", real_ip);

                    $.ajax({
                        url: "/admin/admin_login",
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (returndata) {
                            window.location.href = "/admin/user_list"
                        },
                        error: function (returndata) {
                          console.log(returndata);
                          alert("허용된 IP 가 아닙니다. 관리자에게 문의 해 주세요.");
                        }
                    });
                });
            });
        </script>
        <style>
            .outer {
                display: table;
                position: absolute;
                height: 100%;
                width: 100%;
            }

            .middle {
                display: table-cell;
                vertical-align: middle;
            }

            .inner {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
                width: 300px;
            }

        </style>
    </head>

    <body style="padding:10px;">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h4>맞춤형 화장품 관리자 페이지</h4>
                    <input type="text" class="form-control" id="ID" style="width:300px; margin-top:10px;" placeholder="ID">
                    <input type="password" class="form-control password" id="Password" style="width:300px; margin-top:10px;" placeholder="PW">
                    <button class="btn btn-primary" id="login" style="width:300px; margin-top:10px;">로그인</button>
                </div>
            </div>
        </body>
    </html>
