<html>
    <head>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>

        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
        <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

        <script>
            var real_ip;
            $(function () {
                $.getJSON("http://jsonip.com/?callback=?", function (data) {
                  console.log(data.ip);
                  real_ip = data.ip

                  var formData = new FormData($(this)[0]);
                  formData.append("real_ip", real_ip);

                  $.ajax({
                      url: "/admin/check_access",
                      type: 'POST',
                      data: formData,
                      async: false,
                      cache: false,
                      contentType: false,
                      processData: false,
                      success: function (returndata) {
                      },
                      error: function (returndata) {
                        location.href = "/admin/access_restriction"
                      }
                  });
                });

                $("#login").click(function () {
                    var formData = new FormData($(this)[0]);
                    formData.append("email", $('#ID').val());
                    formData.append("password", $('#Password').val());
                    formData.append("real_ip", real_ip);

                    $.ajax({
                        url: "/admin/admin_login",
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (returndata) {
                            if (returndata.password_change_at){
                              var email = returndata.email
                              var r = confirm("마지막으로 비밀번호를 변경한지 3개월이 지났습니다. \n비밀번호를 변경 해 주세요.");
                              if (r){
                                window.open("/admin/manager/edit_manager?email=" + email, "/users/manager/edit_manager?email=" + email, "scrollbars=1,resizable=1,height=400,width=600");
                              }
                            } else {
                              window.location.href = "/admin/user_list"
                            }
                        },
                        error: function (returndata) {
                        }
                    });
                });
            });
        </script>
        <style>
            .outer {
                display: table;
                position: absolute;
                height: 100%;
                width: 100%;
            }

            .middle {
                display: table-cell;
                vertical-align: middle;
            }

            .inner {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
                width: 300px;
            }

        </style>
    </head>

    <body style="padding:10px;">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h4>맞춤형 화장품 관리자 페이지</h4>
                    <input type="text" class="form-control" id="ID" style="width:300px; margin-top:10px;" placeholder="ID">
                    <input type="password" class="form-control password" id="Password" style="width:300px; margin-top:10px;" placeholder="PW">
                    <button class="btn btn-primary" id="login" style="width:300px; margin-top:10px;">로그인</button>
                </div>
            </div>
        </body>
    </html>
