<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
      });

    </script>
  </head>

  <body>
    <%= render "admin/header" %>

    <h2> 구현중입니다. 테스트 중입니다 </h2>

    <div>
      <div>
        <% @fcschedules.each do |data| %>
          <%= render partial: "admin/schedule/item", locals: { data: data } %>
        <% end %>
        <div>
          <%= paginate @fcschedules %>
        </div>
      </div>
    </div>
  </body>
</html>
