<body>
  <h3>피부타입</h3>
  <pre>
     지성 (민감성)   = "skin_type_jisung_senstive";
     지성           = "skin_type_jisung";
     중성 (민감성)   = "skin_type_jungsung_senstive";
     중성           = "skin_type_jungsung";
     건성 (민감성)    = "skin_type_gunsung_senstive";
     건성           = "skin_type_gunsung";
     지복합성 (민감성) = "skin_type_jisung_boghab_senstive";
     지복합성        = "skin_type_jisung_boghab";
     건복합성 (민감성) = "skin_type_gun_boggab_senstive";
     건복합성        = "skin_type_gun_boggab";
  </pre>

  <h3>솔루션</h3>
  <pre>
     모공 솔루션    = "pore solution"
     색소침착 솔루션 = "pigment solution"
     탄력 솔루션    = "elasticity solution"
     탄력 솔루션    = "wrinkle solution"
     트러블 솔루션  = "trouble solution"
  </pre>

  <h3>앰플</h3>
  <pre>
     모공 앰플       = "pore clinic ampoule"
     카밍 앰플       = "carming ampoule"
     루미너스 앰플    = "luminus ampoule"
     리제네레이팅 앰플 = "regenerating ampoule"
     퍼밍 앰플       = "perming ampoule"
  </pre>

  <h3>화장품</h3>
  <pre>
     스킨컨트롤   = "skin control"
     딥휴멕트    = "deep humect"
     리밸런싱    = "rebalencing"
  </pre>
</body>
