<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div style="display:table; height:40px; width: 500px; float:left;">
        <%= user.custname %>
        
      </div>
    </body>
</html>
