<html>
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
          
      });
    </script>
  </head>

  <body>
    <div>
      <% @users.each do |user| %>
        <%= render partial: "user/item", locals: { user: user } %>
      <% end %>
    </div>
  </body>
</html>
