<html>
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <script>
      $(function () {
        $(document).keyup(function (e) {
            if ($("#search").is(":focus") && (e.keyCode == 13)) {
                console.log(encodeURI($("#search").val()));
                location.href = "/user_list?search=" + encodeURI(encodeURI($("#search").val()));
            }
        });
      });

      function showDetail(userId){
        console.log(userId);
         window.open("/users/detail?userId=" + userId, "/users/detail?userId=" + userId, "scrollbars=1,resizable=1,height=500,width=600");
      }

      function show_all(){
        location.href = "/user_list";
      }
    </script>
  </head>

  <body>
    <h2>고객정보</h2>
    <div>
      <input type="text" name="search" id="search"> 현재는 이름으로 검색이 가능합니다 <button class="btn" id="show_all" onclick="show_all()">전체보기</button>
    </div>
    <div>

      <% @users.each do |user| %>
        <%= render partial: "user/item", locals: { user: user } %>
      <% end %>
      <div>
        <%= paginate @users %>
      </div>
    </div>
  </body>
</html>
