<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <style>
    input::-webkit-input-placeholder {
      font-size: 10px;
      line-height: 3;
    }
    </style>
    
    <script>
    var isIdValidate = false;
    $ (function () {
      $('#submit').click(function(){
        var shop_cd = document.getElementById("shop_cd").value;
        var ch_cd = document.getElementById("ch_cd").value;
        if ($("#email").val() == "" || $("#password").val() == ""){
          alert("필수항목을 입력 해 주세요.")
          return
        }

        if (!isIdValidate) {
            alert("Email 중복 체크를 해 주세요");
            evt.preventDefault();
            return;
        }

        if (chkPwd($("#password").val())){
          var formData = new FormData($(this)[0]);
          formData.append("email", $("#email").val());
          formData.append("password", $("#password").val());
          formData.append("ch_cd", ch_cd);
          formData.append("shop_cd", shop_cd);

          $.ajax({
              url: "/admin/manager",
              type: 'POST',
              data: formData,
              async: false,
              cache: false,
              contentType: false,
              processData: false,
              success: function (response) {
                alert("관리자를 추가하였습니다.");
                window.opener.location.reload();
                location.reload();
              },
              error: function (response){
                alert("실패");
              }
          });
        }
      });
    });

    function checkDuplicate() {
      var checkMsg = document.getElementById("check_msg");
      var formData = new FormData($(this)[0]);
      formData.append("email", $("#email").val());
      $.ajax({
          url: "/admin/manager/duplication",
          type: 'POST',
          data: formData,
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          success: function (response) {
            isIdValidate = true;
            checkMsg.style.color = "green";
            checkMsg.innerHTML = "사용 가능한 Email 입니다";
          },
          error: function (response){
            isIdValidate = false;
            checkMsg.style.color = "red";
            checkMsg.innerHTML = "이미 사용중인 Email 입니다";
          }
      });
    }

    function chkPwd(str){
      var pw = str;
      var num = pw.search(/[0-9]/g);
      var eng = pw.search(/[a-z]/ig);
      // var spe = pw.search(/[~!@#$%^*()-_]/gi);
      var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/]/gi);
      var not_spe = pw.search(/[?<>'"\=&+]/gi);

      if(pw.length < 10){
        alert("10자리 이상 입력해주세요.");
        return false;
      }

      if(pw.search(/₩s/) != -1){
        alert("비밀번호는 공백업이 입력해주세요.");
        return false;
      }

      if (not_spe > 1) {
        alert("특수문자 중 ?< >'"+'"'+"\=&+ 는 제외하셔야 합니다.");
        return false;
      }

      if( (num < 0 && eng < 0) || (eng < 0 && spe < 0) || (spe < 0 && num < 0) ){
        alert("영문,숫자,특수문자 중 2가지 이상을 혼합하여 입력해주세요.");
        return false;
      }

      return true;
    }

    </script>

    <style>
    .fixed-table-body {
      max-height: 350px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }
    </style>
  </head>

  <body style="padding: 10px;">
    <h2>매장 관리자 추가</h2>
    <div id="filter" style="background: #b1cbbb; padding: 8px;">
      <div class="form-inline">
        <div style="display: block;">
          <font style="float:left;">Email</font><br>
          <input onChange="JavaScript:checkDuplicate();" class="form-control" type="text" id="email" style="float:left; width:300px;">
          <button class="btn btn-warning" onClick="checkDuplicate();" style="float:left;">중복체크</button>
          <label style="float:left; color: red; margin-top:5px; margin-left:5px;" id="check_msg"></label>
        <div><br><br>

        <font>Password</font>
        <input class="form-control" type="password" id="password" style="width:560px;" placeholder='최소 10자리 이상 : 영어 대&소문자, 숫자 및 특수문자(? < > ` " \ = & + 제외) 중 2종류 이상'>

        <font>채널 코드</font>
        <input class="form-control" type="text" id="ch_cd" style="width:560px;">

        <font>매장 코드</font>
        <input class="form-control" type="text" id="shop_cd" style="width:560px;">
        <center>
          <button class="btn btn-warning" id="submit">저장</button>
        </center>
      </div>
    </div>

  </body>
</html>
