<html>
  <head>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script>
    var isIdValidate = false;
    $ (function () {
      $('#submit').click(function(){
        var shop_cd = document.getElementById("select_shop").options[document.getElementById("select_shop").selectedIndex].value;
        var ch_cd = document.getElementById("select_shop").options[document.getElementById("select_shop").selectedIndex].id;
        if ($("#email").val() == "" || $("#password").val() == "" || $("#ch_cd").val() == "" || $("#shop_cd").val() == ""){
          alert("공란을 채워주세요!")
          return
        }

        if (!isIdValidate) {
            alert("Email 중복 체크를 해 주세요");
            evt.preventDefault();
            return;
        }

        var formData = new FormData($(this)[0]);
        formData.append("email", $("#email").val());
        formData.append("password", $("#password").val());
        formData.append("ch_cd", ch_cd);
        formData.append("shop_cd", shop_cd);

        $.ajax({
            url: "/admin/manager",
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
              alert("관리자를 추가하였습니다.");
              window.opener.location.reload();
              location.reload();
            },
            error: function (response){
              alert("실패");
            }
        });
      });
    });

    function checkDuplicate() {
      var checkMsg = document.getElementById("check_msg");
      var formData = new FormData($(this)[0]);
      formData.append("email", $("#email").val());
      $.ajax({
          url: "/admin/manager/duplication",
          type: 'POST',
          data: formData,
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          success: function (response) {
            isIdValidate = true;
            checkMsg.style.color = "green";
            checkMsg.innerHTML = "사용 가능한 Email 입니다";
          },
          error: function (response){
            isIdValidate = false;
            checkMsg.style.color = "red";
            checkMsg.innerHTML = "이미 사용중인 Email 입니다";
          }
      });
    }

    </script>

    <style>
    .fixed-table-body {
      max-height: 350px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }
    </style>
  </head>

  <body style="padding: 10px;">
    <h2>매장 관리자 추가</h2>
    <div id="filter" style="background: #b1cbbb; padding: 8px;">
      <div class="form-inline">
        <div style="display: block;">
          <font style="float:left;">Email</font><br>
          <input onChange="JavaScript:checkDuplicate();" class="form-control" type="text" id="email" style="float:left; width:200px;">
          <button class="btn btn-warning" onClick="checkDuplicate();" style="float:left;">중복체크</button>
          <label style="float:left; color: red; margin-top:5px; margin-left:5px;" id="check_msg"></label>
        <div><br><br>

        <font>Password</font>
        <input class="form-control" type="password" id="password" style="width:200px;">

        매장 이름 :
        <select class="form-control" id="select_shop" style="width:200px;">
          <option id="LABO" value="1001">LG연구소</option>
          <option id="LABO" value="1002">젠스토리</option>
          <option id="LABO" value="1003">LG에스타워 보떼</option>
          <option id="CLAB" value="1004">LG에스타워 CNP</option>
          <option id="RLAB" value="1005">민트기술</option>
          <option id="TMR" value="304639">NC 인천 올리브점</option>
          <option id="BEAU" value="505415">수지 상현점</option>
          <option id="BEAU" value="504130">파주 금촌점</option>
          <option id="MART" value="505488">홈플러스 월드컵점</option>
          <option id="TMR" value="304401">NC 안산 상록수점</option>
          <option id="CNP" value="59100">르메디바이씨앤피 이대점</option>
          <option id="TMR" value="304369">NC 신촌점</option>
          <option id="CNPR" value="513307">롯데백화점 본점 CNP Rx</option>
        </select><br>
        <center>
          <button class="btn btn-warning" id="submit">저장</button>
        </center>
      </div>
    </div>

  </body>
</html>
