<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script>
      $(function () {
        $(".top-list").css('color', '#9d9d9d');
        $("#migen_agree").css('color', 'hotpink');
      });

      function decode_utf8(s) {
        return decodeURI(s);
      }
    </script>
    <style>
    td {
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 auto;
      text-align: center !important;
    }

    .fixed-table-body {
      max-height: 431px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }

    th {
      margin: 0 auto;
      text-align: center !important;
    }

    </style>
  </head>

  <body>
    <%= render "admin/header" %>

    <div id="avr" style="background: #eea29a; padding: 8px;">
      총 인원 수 : <%= @count %> 명<br>
    </div>
      <table data-toggle="table">
        <thead style="width: 100%;">
          <tr>
            <th>고객 시리얼 넘버</th>
            <th>채널 코드</th>
            <th>매장 코드</th>
            <th>개인정보 동의 여부</th>
            <th>개인정보 동의 확인 날짜</th>
            <th>개인정보 동의 철회 날짜</th>
            <th>개인정보 위수탁 동의 여부</th>
            <th>개인정보 위수탁 동의 확인 날짜</th>
            <th>개인정보 위수탁 동의 철회 날짜</th>
            <th>신체정보,생활습관 등 개인정보 동의 여부</th>
            <th>신체정보,생활습관 등 개인정보 동의 확인 날짜</th>
            <th>신체정보,생활습관 등 개인정보 동의 철회 날짜</th>
            <th>건강정보, 치료 이력 등 민감정보 동의 여부</th>
            <th>건강정보, 치료 이력 등 민감정보 동의 확인 날짜</th>
            <th>건강정보, 치료 이력 등 민감정보 동의 철회 날짜</th>
            <th>개인정보 제3자 제공 동의 여부</th>
            <th>개인정보 제3자 제공 동의 여부 확인 날짜</th>
            <th>개인정보 제3자 제공 동의 여부 철회 날짜</th>
            <th>민감정보 제3자 제동 동의 여부</th>
            <th>민감정보 제3자 제동 동의 여부 확인 날짜</th>
            <th>민감정보 제3자 제동 동의 여부 철회 날짜</th>
            <th>마케팅 정보 수신 동의 여부</th>
            <th>마케팅 정보 수신 동의 여부 확인 날짜</th>
            <th>마케팅 정보 수신 동의 여부 철회 날짜</th>
          </tr>
        </thead>
        <tbody>
          <% @migen_agree.each do |migen_agree| %>
            <%= render partial: "admin/migen_agree/item", locals: { user: migen_agree } %>
          <% end %>
        </tbody>
      </table>

      <div>
        <%= paginate @migen_agree %>
      </div>
  </body>
</html>
