<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div style="display:table; height:40px; width: 500px; float:left;">
        <% custinfo = Custinfo.find tabletinterview.custserial %>
        <%= tabletinterview.custserial %>
        <%= custinfo.custname %>
      </div>
    </body>
</html>
