<html>
  <head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css"/>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script>
      $(function () {
        $(".top-list").css('color', '#9d9d9d');
        $("#point_avg_list").css('color', 'hotpink');

        document.getElementById("select_age").addEventListener("change", function() {
            var select_option = document.getElementById("select_age").options[document.getElementById("select_age").selectedIndex].value
            location.href = "/admin/fcavg_list?select=" + select_option;
        });

        <% if !@select_option.nil? %>
          $('select[id="select_age"]').val('<%= @select_option %>');
        <% end %>
      });

    </script>
    <style>
    .fixed-table-body {
      max-height: 509px;
    }

    .text-center {
        margin: 0 auto;
        text-align: center !important;
    }

    th {
      font-size: 15px;
      margin: 0 auto;
      text-align: center !important;
    }
    </style>
  </head>

  <body>
    <%= render "admin/header" %>

    <select class="form-control" id="select_age" style="float:left; width: 80%;">
      <option value="ALL">전체연령</option>
      <option value="1-10">1~10살</option>
      <option value="11-15">11~15살</option>
      <option value="16-20">16~20살</option>
      <option value="21-25">21~25살</option>
      <option value="26-30">26~30살</option>
      <option value="31-35">31~35살</option>
      <option value="36-40">36~40살</option>
      <option value="41-45">41~45살</option>
      <option value="46-50">46~50살</option>
      <option value="51-55">51~55살</option>
      <option value="56-60">56~60살</option>
      <option value="61-70">61~70살</option>
      <option value="71">71살</option>
    </select>

    <p style="width: 15%; float:right; margin-right:20px;">
      Download:
      <%= link_to "Excel", admin_fcavg_list_path(format: "xlsx", :select => @select_option, :isExcel => true) %>
    </p>

    <table data-toggle="table" style="width:1180px;">
      <thead style="width: 100%;">
        <tr>
            <th class="text-center">등급</th>
            <th class="text-center">모공</th>
            <th class="text-center">주름</th>
            <th class="text-center">색소침착 편광</th>
            <th class="text-center">색소침착 UV광</th>
            <th class="text-center">탄력</th>
            <th class="text-center">포피린 비</th>
            <th class="text-center">T존 피지 E값</th>
            <th class="text-center">U존 피지 E값</th>
            <th class="text-center">수분</th>
            <th class="text-center">T존 포피린 E값</th>
            <th class="text-center">U존 포피린 E값</th>
        </tr>
      </thead>
      <tbody>
        <% @fcavgdatas_list.each do |fcavgdata| %>
          <%= render partial: "admin/fcavgdata/item", locals: { data: fcavgdata } %>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
